<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Screen Displayer - Settings</title>
  </head>
  <body>
    <h1>Settings</h1>

    <p>
      We are using Node.js <span id="node-version"></span>,
      Chromium <span id="chrome-version"></span>,
      and Electron <span id="electron-version"></span>.
    </p>

    <p>
      Sample IDS replacements tests : <br/>
      8 + 2 = <span id="8+2"></span><br/>
      Hello <span id="world"></span>
    </p>

    <a href="../../../index.html">Go back to homepage</a>

    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
  </body>
</html>